body{
  text-align: center;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}

#kkk{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.end{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.images{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
  height: 300px;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.qqq{
  font-size: 18px;
  color:white;
}
