body{
  text-align: center;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.ooo{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.kkk{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.end{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: dimgray;
}
